stanbol.enhancer.engine.name="smaDisease"
eu.fusepool.enhancer.engines.dictionaryannotator.description="Extracts disease names from plain texts."
eu.fusepool.enhancer.engines.dictionaryannotator.graphURI="urn:fusepool-disease-ontology"
eu.fusepool.enhancer.engines.dictionaryannotator.labelField="rdfs:label"
eu.fusepool.enhancer.engines.dictionaryannotator.synonymField="oboInOwl:hasExactSynonym"
eu.fusepool.enhancer.engines.dictionaryannotator.URIField="owl:Class"
eu.fusepool.enhancer.engines.dictionaryannotator.entityPrefixes=["owl:\ <http://www.w3.org/2002/07/owl#>","rdfs:\ <http://www.w3.org/2000/01/rdf-schema#>","oboInOwl:\ <http://www.geneontology.org/formats/oboInOwl#>"]
eu.fusepool.enhancer.engines.dictionaryannotator.rdfFields=["dcterms:title","dcterms:abstract","dcterms:description"]
eu.fusepool.enhancer.engines.dictionaryannotator_beer.type="http://dbpedia.org/ontology/Disease"
eu.fusepool.enhancer.engines.dictionaryannotator.stemmingLanguage="None"
eu.fusepool.enhancer.engines.dictionaryannotator.caseSensitive=B"false"
eu.fusepool.enhancer.engines.dictionaryannotator.caseSensitiveLength=I"0"
eu.fusepool.enhancer.engines.dictionaryannotator.eliminateOverlapping=B"false"